.Section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  position: relative;
  color: black;
}

.image{
  text-align: center;
}

[data-theme=dark] .Section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  position: relative;
  color: white;
}
.Registration{
  padding-top:  2rem;
}
.Section-p{
  align-items: center;
  text-align: center; 
  position: relative;
}
.list{
  padding-left: 40%;
  text-align: center; 
  position: relative;
}

.liebiao{
  margin-bottom: 10px;

}
.show{
 padding-left: 10%;
 padding-right:10% ;

}
.contributors-list{
  margin-top: 120px!important;
  display: flex; 
  list-style: none; 
  margin: 0px; 
  padding: 0px; 
  flex-flow: wrap;
}
.ant-list-item-meta{
  float: left;
  
}
.ant-list-split .ant-list-item {
  border-bottom:0 ;
}
.rc-virtual-list-holder-inner {
  flex-direction: row !important ;
}
@media Registration and (max-width: 966px) {
  .show {
    padding-left: 5%;
    padding-right:5%;
   
  }
  .list{
    padding-left: 20%;
    text-align: center; 
    position: relative;
  }
}
